/* contact */
.contact-us {
    align-items: center;
    margin: 30px;
    justify-content: center;
    text-align: center;
}
.contact-icon {
    width: 50%;
}

/*collection*/
.collection-container {
    font-family: Times Roman;
    display: flex; 
    flex-direction: row;
    gap: 1rem;
    margin: 30px;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        
    }
}
.filters-container {
    margin: 30px;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    cursor: pointer;    
}


.category-filter {
    font-family: new Times Roman;
    border: 1px solid grey;
    width: fit-content;
    min-width: 100px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    @media (max-width: 768px) {
        display: none;
    }
}

.collection-dropdown {
    display: none;
    @media screen and (max-width: 768px) {
        width: 10%;
        display: block;
        transition: transform 0.1s;
      }
}
.collection-dropdown:active {
    transform: rotate(-90deg);
}


.checkbox-filter {
    display: flex;
    flex-direction: column;
}

.filters {
    font-size: small;
    font-weight: 300;
    color: grey;
    margin-top: 2px;
    text-align: left;
    
}

.right-side {
    margin-left: 3rem; 
}
.select-items {
    border: 0.2px solid grey;
    width: fit-content;
    min-width: 100px;
    margin-bottom: 1rem;    

}

.display-collection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    row-gap: 1rem;
  @media (max-width: 768px) {  
    grid-template-columns: repeat(2, 1fr);
  }
}

/*about us page */
.about-us{
    margin: 30px;
}
.about-us-title{
    font-size: medium;
}
.about-us-p{
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.about-us-content {
    padding-left: 20px;
}
