/* contact */
.contact-us {
    align-items: center;
    margin: 30px;
    justify-content: center;
    text-align: center;
}
.contact-icon {
    width: 50%;
}

/*collection*/
.collection-container {
    font-family: Times Roman;
    display: flex; 
    flex-direction: row;
    gap: 1rem;
    margin: 30px;
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        
    }
}
.filters-container {
    margin: 30px;
    min-width: 60px;
    display: flex;
    flex-direction: column;
    cursor: pointer;    
}


.category-filter {
    font-family: new Times Roman;
    border: 1px solid grey;
    width: fit-content;
    min-width: 100px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    @media (max-width: 768px) {
        display: none;
    }
}

.collection-dropdown {
    display: none;
    @media screen and (max-width: 768px) {
        width: 10%;
        display: block;
        transition: transform 0.1s;
      }
}
.collection-dropdown:active {
    transform: rotate(-90deg);
}


.checkbox-filter {
    display: flex;
    flex-direction: column;
}

.filters {
    font-size: small;
    font-weight: 300;
    color: grey;
    margin-top: 2px;
    text-align: left;
    
}

.right-side {
    margin-left: 3rem; 
}
.select-items {
    border: 0.2px solid grey;
    width: fit-content;
    min-width: 100px;
    margin-bottom: 1rem;    

}

.display-collection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    row-gap: 1rem;
  @media (max-width: 768px) {  
    grid-template-columns: repeat(2, 1fr);
  }
}

/*about us page */
.about-us{
    margin: 30px;
}
.about-us-title{
    font-size: medium;
}
.about-us-p{
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}
.about-us-content {
    padding-left: 20px;
}

/*products*/
.product-container {
    margin: 30px;   
    display: flex;
    flex-direction: row;
    @media (max-width: 768px) {
        flex-direction: column;
    }
}


.product-detail {
    margin: 30px;
    @media (max-width: 768px) {
        margin: 0px;
    }
    
}
.product-image {
    width: 40%;
    cursor:pointer;
}

.quantity-input{
    width: 3rem;
    border-radius: 10px;
    
}

.add-to-cart-button{
    background-color: grey;
    border-radius: 15px;
    color: black;
    
}

/*Cart*/
.empty-cart {
    text-align: center;
}
.empty-cart h2 {
    margin: 30px;
}
.empty-cart p {
    margin: 30px;
    color: rgb(13, 13, 13);
}
.cart-item-image {
    width: 15%;
    height: auto;
    @media (max-width: 768px) {
        width: 30%;
        height: auto;
    }
    
}


.remove-icon {
    width: 20px;
    height: auto;
}

.cart-table, .summary-table {
    width: 40%;
    margin-top: 30px;
    border-collapse: collapse;
    margin-left: 30px;
  }
  
  .cart-table th, .cart-table td, .summary-table td {
    padding: 10px;
    text-align: left;
  }
  
  .cart-table th {
    background-color: #f2f2f2;
  }
  
  .cart-item-image {
    width: 20%; 
    height: auto;
    margin-right: 10px; 
  }
  
  .remove-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .checkout-button {
    background-color: grey;
    height: 3.5rem;
    border-radius: 2rem;
    text-align: left;
    margin: 30px;
    color: white;
    font-weight: bolder;
 }

 /*placeorder*/
 .place-order-container {
    margin: 30px;
 }

 .form-details {
    margin-bottom: 10px;
 }

 .form-payment-details {
    margin-top: 30px;
   margin-bottom: 20px;

 }

